code_v1
[{"id":"f6857f84.cd01c","type":"tab","label":"Canopy Data IN and log","disabled":false,"info":""},{"id":"eab3f850.f3f768","type":"udp in","z":"f6857f84.cd01c","name":"Canopy1_IN","iface":"","port":"58100","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":119,"y":360,"wires":[["3e11af58.646f2","505750e.48770b","3bba5832.7b1028","1dc9a129.97ad2f"]]},{"id":"3e11af58.646f2","type":"debug","z":"f6857f84.cd01c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":821,"y":154,"wires":[]},{"id":"6228264e.f0adf8","type":"mongodb2 in","z":"f6857f84.cd01c","service":"_ext_","configNode":"7adad169.a848c","name":"","collection":"envi2","operation":"insert","x":661.5,"y":800,"wires":[["418981c2.cc0e7"]]},{"id":"418981c2.cc0e7","type":"debug","z":"f6857f84.cd01c","name":"db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":958,"y":814,"wires":[]},{"id":"505750e.48770b","type":"DataIn","z":"f6857f84.cd01c","collection":"10bcf82.ab70008","name":"datalog","update":false,"path":"/hello/","x":448,"y":183,"wires":[]},{"id":"3bba5832.7b1028","type":"function","z":"f6857f84.cd01c","name":"","func":"var time = \tnew Date().getTime();\nvar newMsg = {};\nnewMsg.collection = 'txt';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = time ;\nnewMsg.topic = 'Time';\nreturn newMsg;","outputs":1,"noerr":0,"x":197,"y":531,"wires":[["eae59d12.67546"]]},{"id":"eae59d12.67546","type":"join","z":"f6857f84.cd01c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":417.5,"y":490,"wires":[["6228264e.f0adf8","5cf14ecf.9e57","312ad0e2.7fb8d"]]},{"id":"5cf14ecf.9e57","type":"debug","z":"f6857f84.cd01c","name":"db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":776,"y":430,"wires":[]},{"id":"1dc9a129.97ad2f","type":"change","z":"f6857f84.cd01c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410.5,"y":396,"wires":[["eae59d12.67546"]]},{"id":"312ad0e2.7fb8d","type":"file","z":"f6857f84.cd01c","name":"","filename":"envi2","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":685,"y":346,"wires":[[]]},{"id":"7adad169.a848c","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/household_power_consumption","name":"Household","options":"","parallelism":"-1"},{"id":"10bcf82.ab70008","type":"json-db-collection","z":"","name":"envData","collection":"envData","save":true}]
